body {
  background-color: #000;
}

#logo {
  text-align: center;
  margin-top: 0;
  padding-bottom: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: 0.2s;
  background: linear-gradient(0deg, #000, #272727);
  margin: 5px;
  text-decoration: none;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #0000ff,
    #0000ff,
    #ff0000,
    #0000ff,
    #ff0000,
    #0000ff,
    #0000ff,
    #ff0000,
    #ff0000,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button:after {
  filter: blur(50px);
}

/* Existing styles... */

/* Products grid */
.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 70px;
}

/* Individual product card */
.product-card {
  width: calc(
    20% - 16px
  ); /* For 5 products per line, with some space between */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 10px;
  background: #fff;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.add-to-cart {
  background-color: #272727;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-to-cart:hover {
  background-color: #000;
}

.view-counter {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.view-icon {
  margin-right: 5px;
}

.like-button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
}

.like-button:active {
  color: red;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

.mySlides {
  display: none;
  width: 100%;
}

.mySlides img {
  width: 50%; /* Control the width of the image. Example is 70% of the container. Adjust as needed. */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally */
  display: block;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#search-bar {
  padding: 10px;
  width: 300px;
  border-radius: 5px 0 0 5px;
  border: 1px solid red;
}

#search-button {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid red;
  background-color: white;
  color: black;
  cursor: pointer;
}
